@import "bootstrap-4.0.0-beta.3/bootstrap.scss";
@import "ng2-select.scss";

html {
  font-family: "TwCenMTPro-MediumCond", Arial, sans-serif;
}

body {
  background: #414141;
}

.page-wrapper {
  background: white;
  min-height: 100vh;
}

.cp {
  cursor: pointer;
}

.btn,
.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control,
.form-control:hover,
.form-control:focus {
  outline: 0;
  box-shadow: none;
}

#remember {
  display: inline;
  margin-left: 1vw;
}

.single-page {
  width: 100vw;
  height: 100vh;
  background: #355380;
  padding-top: 150px;

  .container {
    max-width: 500px;
    padding: 20px;
    border-radius: 3px;
    background: white;
    margin: auto auto;
  }
}

.attachment {
  display: flex;
  flex-direction: column;
  width: 100px;

  .thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 100px;
    position: relative;

    a {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
