<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="container page-wrapper p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{{ 'Admin Panel' | i18nextFormat }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="'/dashboard/red'">{{ 'Red' | i18nextFormat }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="'/dashboard/white'">{{ 'White' | i18nextFormat }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="'/dashboard/rose'">{{ 'Rose' | i18nextFormat }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="'/dashboard/champagne'">{{ 'Champagne' | i18nextFormat }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="'/dashboard/payments'">{{ 'Payments' | i18nextFormat }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/dashboard/templates'">{{ 'Templates' | i18nextFormat }}</a>
        </li>
      </ul>
      <button class="btn btn-info btn-sm ml-2 mr-auto" (click)="deployChanges()">Deploy Changes</button>
      <div>
        <div class="btn-group mr-2">
          <span class="dropdown-toggle cp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{(lang == 'en' ? 'English' : 'Deutsch' | i18nextFormat)}}
          </span>
          <div class="dropdown-menu">
            <a class="dropdown-item cp" (click)="changeLanguage('en')">{{ 'English' | i18nextFormat }}</a>
            <a class="dropdown-item cp" (click)="changeLanguage('de')">{{ 'Deutsch' | i18nextFormat }}</a>
          </div>
        </div>

        <div class="btn-group">
          <span class="dropdown-toggle cp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.email}}
          </span>
          <div class="dropdown-menu">
            <a class="dropdown-item cp" (click)="logout($event)">{{ 'Logout' | i18nextFormat }}</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="py-3">
    <router-outlet></router-outlet>
  </div>
</div>
<a id="pdfLink" class="d-none" target="__blank" href="">&nbsp;</a>