<toaster-container></toaster-container>
<div class="container">
  <h3 class="mb-4">
    <span class="text-capitalize">Settings</span>
  </h3>
  <form class="form-horizontal ng-pristine ng-valid" autocomplete="off" (submit)="handleSubmit($event)">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">{{ 'Preview Hook' | i18nextFormat }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="previewBuildHook" [(ngModel)]="settings.previewBuildHook" autocomplete="off"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">{{ 'Live Hook' | i18nextFormat }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="liveBuildHook" [(ngModel)]="settings.liveBuildHook" autocomplete="off" />
      </div>
    </div>

    <div class="form-group mt-3 row">
      <div class="col-sm-10 offset-sm-2 d-flex">
        <button class="btn btn-success">{{ 'Update' | i18nextFormat }}</button>
      </div>
    </div>
  </form>
</div>