<app-search>
</app-search>

<section style="padding-top: 100px">
  <div [ngSwitch]="currentPath">
    <div *ngSwitchCase="'app/navigation/TODOS'">
      <h3>TODOS</h3>
      <button (click)="showCreateView()">Create</button>

      <app-todo-collection (collectionItemClicked)="showDetailView($event)"></app-todo-collection>
    </div>

    <div *ngSwitchCase="'app/navigation/TODO_CREATE'">
      <h3>Create ToDo</h3>
      <app-todo-create></app-todo-create>
    </div>

    <div *ngSwitchCase="'app/navigation/TODO_DETAIL'">
      <h3>ToDo Detail</h3>
      <app-todo-detail [itemId]="currentToDoId"></app-todo-detail>
    </div>
  </div>

</section>