<div class="container">
  <div class="d-flex mb-4 align-items-center">
    <h3>{{ "Images" | i18nextFormat }}</h3>
    <div class="col-sm-10">
      <attach-uploader
        [mimeTypes]="['image/png', 'image/jpeg', 'image/jpg', 'image/png']"
        (onChange)="refreshList($event)"
      >
      </attach-uploader>
    </div>
  </div>
  <div style="min-height: 50vh">
    <table class="table w-100">
      <thead>
        <tr>
          <th>{{ "Image" | i18nextFormat }}</th>
          <th>{{ "Url" | i18nextFormat }}</th>
          <th width="200"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of images | async | paginate: pageConfig">
          <div class="image">
            <cl-image loading="lazy" public-id="{{ image.public_id }}">
              <cl-placeholder type="blur"></cl-placeholder>
              <cl-transformation height="170" crop="scale"></cl-transformation>
            </cl-image>
          </div>
          <td>
            {{ image.url }}
          </td>
          <td class="text-right">
            <button
              class="btn btn-danger"
              (click)="deleteImage(image)"
              title="Delete"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="!pageConfig.totalItems">
          <td colspan="5" class="text-center my-5">
            {{ "No Images Found" | i18nextFormat }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    *ngIf="pageConfig.totalItems > 0"
    class="mt-2 d-flex justify-content-center"
  >
    <pagination-controls (pageChange)="getImages($event)"></pagination-controls>
  </div>
</div>
