<!-- I am the SETTINGS component html {{ 'common:intro' | i18nextFormat }}
  <button class="btn btn-info" (click)="changeLanguage('de')">change to 'de'</button>
  <button class="btn btn-info" (click)="changeLanguage('en')">change to 'en'</button>
//-->

<section class="container-fluid">
  <h2>{{'User Settings' | i18nextFormat }}</h2>
  <app-dashboard-settings></app-dashboard-settings>

  <div *ngIf="settings | async as settings">
    <br />
    <br />
    <label>{{'Compact View' | i18nextFormat }}</label>
    <input #compactViewCB type="checkbox" name="compact_view" [checked]="settings.compactView" (change)="(compactViewCB.checked) ? activateCompactView() : deactivateCompactView()">
  </div>

  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Change Language</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="changeLanguage('en')">English</button>
      <button class="dropdown-item" (click)="changeLanguage('de')">Dutch</button>
    </div>
  </div>

</section>