<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <ul>
        <li tabindex="0" class="menu-app-logo" [ngClass]="{'active': activeState === 'app-logo'}" (click)="setActiveState('app-logo')" >
          <app-link [target]="'HOME'">
            <i class="icon-fullscreen_exit x2"></i><span>Home</span>
          </app-link>
        </li>
        <li tabindex="0" class="menu-client-logo" [ngClass]="{'active': activeState === 'client-logo'}" (click)="setActiveState('client-logo')" >
            <i class="icon-wifi_tethering x2"></i><span>Menu Item 2</span>
        </li>
        <li tabindex="0" class="menu-user menu-divider-bottom" [ngClass]="{'active': activeState === 'settings'}" (click)="setActiveState('user')" >
            <app-link [target]="'SETTINGS'">
                <img src="/assets/images/512px-So_happy_smiling_cat.jpg" *ngIf="!userInitial;else user_initial">
                <ng-template #user_initial><label class="user_initial">{{userInitial}}</label></ng-template>
                <span>Menu Item 3</span>
            </app-link>
        </li>

        <li tabindex="0" class="menu-orange" [ngClass]="{'active': activeState === 'DASHBOARD'}">
            <app-link [target]="'DASHBOARD'"><i class="icon-dashboard x2"></i><span>Dashboard</span></app-link>
        </li>
        <li tabindex="0" class="menu-red" [ngClass]="{'active': activeState === 'DIAGNOSTICS'}">
            <app-link [target]="'DIAGNOSTICS'"><i class="icon-play_circle_outline x2"></i><span>Diagnostics</span></app-link>
        </li>

        <li tabindex="0" class="menu-green-2" [ngClass]="{'active': activeState === 'TODOS'}">
            <app-link [target]="'TODOS'"><i class="icon-playlist_add_check x2"></i><span>ToDo's</span></app-link>
        </li>

        <li tabindex="0" class="menu-red" [ngClass]="{'active': activeState === 'SHOWCASE'}">
            <app-link [target]="'SHOWCASE'"><i class="icon-play_circle_outline x2"></i><span>Diagnostics</span></app-link>
        </li>

        <li tabindex="0" class="menu-white menu-divider-top sticky-footer" [ngClass]="{'active': activeState === 'dashboard10'}" (click)="setActiveState('dashboard10')" >
          <app-link><i class="icon-search x2"></i><span>App Search</span></app-link>
        </li>
        <li tabindex="0" class="menu-white sticky-footer" [ngClass]="{'active': activeState === 'dashboard11'}" (click)="setActiveState('dashboard11')" >
          <app-link [target]="'ABOUT'"><i class="icon-info_outline x2"></i><span>About</span></app-link>
        </li>
    </ul>
</nav>
