<!--
<form (submit)="settingsModified('settings')">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
        Show salutation
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
//-->

<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nameInput">{{'First Name'}}</label>
      <input required type="text" class="form-control" id="nameInput" placeholder="First Name" [(ngModel)]="model.firstName" name="firstName"
        #firstName="ngModel">
      <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="lastNameInput">{{'Last Name'}}</label>
      <input required type="text" class="form-control" id="lastNameInput" placeholder="Last Name" [(ngModel)]="model.lastName"
        name="lastName" #lastName="ngModel">
      <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
        Last name is required
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
</form>